<!-- jinja tempalte inheratence -->
<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - MindShare</title>
    {% else %}
    <title>Welcome to MindShare</title>
    {% endif %}
  </head>
  <body>
    <div>
      MindShare:
      <!-- url_for dynamically generates the URLS using function names from route -->
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('login') }}"> Sign In </a>
    </div>
    <hr />
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <!-- pages that inherit will place content in the block content -->
    {% block content %}{% endblock %}
  </body>
</html>
